 h1 {
            color: rgb(233, 39, 5);
            font-family: Arial, sans-serif;
            font-size: 36pt;
            text-align: center;
        }
        body {
            background-color: #19d1c2;
            font-family: Arial, sans-serif;
            color: #000000;
        }