/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-image: 
        url("flaaa_branco_transparente.png"),
        linear-gradient(to right, #cc0000 50%, #000000 50%);
    background-repeat: repeat, no-repeat;
    background-size: 150px, cover; /* 👈 controla o tamanho da imagem */
    background-position: top, center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}




.login-container {
    background-color: #f8f8f8;
    padding: 30px;
    border-radius: 65px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
    width: 300px;
}

.logo {
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
}

button {
    padding: 10px;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background-color: #0a0a0a;
}

.links {
    margin-top: 20px;
    font-size: 14px;
}

.links a {
    color: #cc0000;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}
